body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-attachment: fixed;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
}

a:hover {
    color: rgb(255, 20, 147);
    transition: 0.3s all;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

h3 {
    color: rgb(255, 20, 147);
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

span {
    color: rgb(255, 20, 147)
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img {
    width: 580px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(255, 20, 147);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    width: 400px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.profile-picture {
    background-color: #aaa;
    border-radius: 50%;
    /* -moz-box-shadow: 10px 10px 10px 10px rgba(255, 0, 208, 0.259); */
    /* -webkit-box-shadow: 0px 20px 20px rgba(255, 0, 208, 0.259); */
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-left: 300px;

}

.profile-picture img {
    position: absolute;
    bottom: 0;
    width: 105%;

}

.container-about,
.container-cv {
    margin-top: 100px;
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr;

}

.contact-links {
    padding-left: 20px;
}

.buttons-contact img {
    height: 50px;
    width: 50px;
    color: rgb(255, 20, 147);
    padding-left: 10px;
}

#canvas-mouse {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.logo-img {
    height: 64px;
    width: 64px;
    ;
}

#logo-menu {
    height: 60px;
    width: 60px;
}

/* ****************************************** Menu ********************************************************************* */
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100px;
    color: white;
    font-family: poppinsregular;
    overflow: hidden;
    transition: width .3s;
    background: rgba(34, 34, 35, 0.55);
    box-shadow: 0 0px 15px 0 rgba(255, 20, 147, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    /* border-right: 1px solid rgba(255, 0, 208, 0.259) */
}

.side-menu:hover {
    width: 300px;
}

.side-menu li {
    width: 300px;
}

.side-menu li span {
    font-size: 1.5rem;
    margin: 10px 50px 0 22px;
}

.side-menu li a {
    display: block;
    font-size: .9rem;
    text-decoration: none;
    color: #FFF;
    height: 60px;
}

.side-menu li a:hover,
.side-menu li:first-child a {
    display: block;
}

#div-menu {
    /* background-color: yellow; */
    padding-left: 0px;
    width: 60px;
    height: 60px;
}